

.container-projetos{
    max-width: 900px;
    display: flex;
    margin: auto;
    padding: 20px;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
}


.container-projetos > h1{
    width: 100%;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
}