@charset "UTF-8";


/* Configurações Globais */

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;    
}


:root{
    --font1: Arial, Helvetica, sans-serif;
    --font2: Georgia, 'Times New Roman', Times, serif;
}

body{
    font-family: var(--font1);
    background-color: white;
}


/* Menu de Navegação do meu Portifolio */

header{
    display: flex;
    justify-content: center;
}
.nav1{
    margin: 10px 20px;
    max-width: 500px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5px 35px;
    padding: 10px 19px;
    border-radius: 29px;
    box-shadow: 1px 1px 10px #00000043;
}

.nav1 > a{
    display: inline-flex;
    align-items: center;

    text-decoration: none;
    color: black;
    font-weight: bolder;
    padding: 9px;
    border-radius: 25px;
}

.nav1 > a:hover{
    background-color: black;
    color: white;
    transition-duration: 0.5s;
}

.nav1 > a > .material-symbols-outlined {
    font-size: 19px; 
    padding-right: 6px;
}


/* Rodapé do meu Portifoio */

.footer1{
    padding: 15px 15px 8px 15px;
    opacity: 70%;
    font-size: 0.7em;
    text-align: center;
}